*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
}

.child {
    width: 6.25%;
    height: 6.25%;
    flex: 0 0 6.25%;
    
}

.dynamic-child {
    flex: auto;
    width: 1rem;
    height: 1rem;
    border: 2px solid;
}


